
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: transparent;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 100;
}



body {
    margin: 0; 
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    padding: 10px 1px;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar .logo {
    height: 40px;
    margin-right: auto; 
}

.navbar .nav-links {
    margin-left: auto; 
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}

.navbar a:hover {
    text-decoration: underline;
}




/* Page de contact */
.contact-page {
    padding: 80px 20px 20px; /* Padding en haut pour compenser la navbar fixe */
}

.contact-page h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.contact-info {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-bottom: 20px;
}

.contact-info p {
    margin: 10px 0;
}

.contact-info a {
    color: #e53935;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}

.comment-form {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.comment-form h2 {
    margin-top: 0;
}

.comment-form label {
    display: block;
    margin: 10px 0 5px;
}

.comment-form input, .comment-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.comment-form button {
    background-color: #e53935;
    border: none;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.comment-form button:hover {
    background-color: #c62828;
}
