*{
    padding: 0;
    margin: 0;
    list-style: none;
}

#tt{
    border-bottom: 5px solid red;
}
.class{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 50px;
    margin-right: 30px;
    font-size: 30px;
    padding-bottom: 10px;
   
}

#t:hover{
border-bottom: 5px solid red;
scale: 1.2;

}
img{ size: 70px;
position: absolute;
top: 5px;
}

.text{

 position: absolute;   
 top:250px;
 right: 500px;
 text-align: center;
 h1 {
    font-size: 50px;
 }
 p {
    padding: 0px 200px;
    font-size: large;
 }

}
#blob{
height: 99%;
position: absolute;
left: 800px;
top: 100px;
}
#R{
   height: 20%;
   position: absolute;
left: 960px;
top: 350px;
animation-iteration-count: infinite;
}








@media (max-width:600px) {
    #t{ display: none;}
}
